<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    [formGroup]="messageForm"
    (ngSubmit)="sendMessage(formDirective)"
    #formDirective="ngForm"
    novalidate
  >
    <!-- Recipient (editable) -->
    <ion-item button fill="outline" (click)="openModal()">
      <ion-label
        position="stacked"
        [color]="messageForm.controls['email'].invalid && messageForm.controls['email'].dirty ? 'danger' : (isWriting.email ? 'success' : '')"
        >Sent To</ion-label
      >

      <ion-icon name="send-outline" slot="start"></ion-icon>

      <ion-input
        formControlName="email"
        type="email"
        placeholder="email@domain.com"
        (ionFocus)="isWriting.email= true"
        (ionBlur)="isWriting.email = false"
      ></ion-input>

      @if(messageForm.controls['email'].invalid &&
      messageForm.controls['email'].dirty) {
      <ion-note color="danger">This field is required</ion-note>
      }
    </ion-item>
    <!-- Subject -->
    <ion-item button fill="outline">
      <ion-label
        position="stacked"
        [color]="messageForm.controls['subject'].invalid && messageForm.controls['subject'].dirty ? 'danger' : (isWriting.subject ? 'success' : '')"
        >Subject</ion-label
      >
      <ion-icon name="document-text-outline" slot="start"></ion-icon>
      <ion-input
        formControlName="subject"
        type="text"
        placeholder="Subject"
        (ionFocus)="isWriting.subject= true"
        (ionBlur)="isWriting.subject= false"
      ></ion-input>
      @if(messageForm.controls['subject'].invalid &&
      messageForm.controls['subject'].dirty) {
      <ion-note color="danger">This field is required</ion-note>
      }
    </ion-item>

    <!-- Message -->
    <ion-item button fill="outline">
      <ion-label
        position="stacked"
        [color]="messageForm.controls['message'].invalid && messageForm.controls['message'].dirty ? 'danger' : (isWriting.message ? 'success' : '')"
        >Message</ion-label
      >
      <ion-textarea
        (ionFocus)="isWriting.message= true"
        (ionBlur)="isWriting.message= false"
        formControlName="message"
        placeholder="Enter message..."
        autoGrow
        clearOnEdit
      >
      </ion-textarea>
      @if(messageForm.controls['message'].invalid &&
      messageForm.controls['message'].dirty) {
      <ion-note color="danger">This field is required</ion-note>
      }
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button
        expand="full"
        (click)="enchantMessage()"
        [disabled]="messageForm.get('message')?.invalid || isEnchanting"
      >
        <ion-spinner
          *ngIf="isEnchanting"
          name="crescent"
          slot="start"
        ></ion-spinner>

        <ion-icon name="sparkles-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button
        fill="solid"
        shape="round"
        expand="full"
        (click)="sendMessage(formDirective)"
        [disabled]="messageForm.invalid"
      >
        <ion-icon name="send-outline"></ion-icon>SEND
      </ion-button>
      <ion-button type="submit" expand="block" (click)="takePhoto()">FOTOS</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
